.mat-dialog-content{
  border: 1px solid red;
}

.card-icon{
  /* border: 1px solid blue; */
  color:mediumpurple;
}

.card-content {
  border: 1px solid green;
  color:green;
  box-sizing: border-box;
  height: auto;
  width: auto;
}

.flag-card{
  width: 50vw;
}

/* color TODO: changes */
.flag-img {
  border-bottom: 2px solid palevioletred;
}

agm-map {
  height: 250px;
  width: 100%;
}
