<div>
  <input type="text" placeholder="search country name" (input)="onSearchInputChange($event)" />
  <button (click)="onSearchButtonClick($event)" >Search</button>
  <p>I typed {{searchTerm}}!!</p>
  
  <!-- If more than one result is found for the given search term 
  display links for each individual country -->
  <div *ngIf="searchedCountry.length > 1">
    <div *ngFor = "let country of searchedCountry">
        <a [routerLink] = "['/country', country.alpha2Code]">
          <h3>{{country.name}}</h3>
        </a>
      </div>
    <!-- <app-country-info [searchedCountry] = "searchedCountry"></app-country-info> -->
  </div>



  <!-- <div *ngIf = "searchedCountry.length <= 0 && isSearched">
    redirect to not found route
    <app-not-found></app-not-found>
  </div>  -->

  <!-- <div *ngIf="searchedCountry.length > 0; else notFoundTemplate">
      <app-country-info [searchedCountry] = "searchedCountry"></app-country-info>
    </div>
  
  <!-- <ng-template #notFoundTemplate>
    <app-not-found></app-not-found>
  </ng-template> -->
<!-- </div>
<router-outlet></router-outlet> -->
