.home-container{
  background-image: url('/assets/angular-countries-bg.png');
  width: 100vw;
  height: 60vh;
  background-size: cover;
  /* background-size: 100%; */
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
}

.flex-container-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search-button {
  height: 4rem;
  font-size: 2rem;
  background-color: var(--cp1-dark-red);
  font-family: 'Bree Serif', serif;
}

mat-toolbar {
  background-color: var(--cp1-dark-red);
}

mat-icon {
  color: var(--cp1-dark-red);
  margin-top: 1%;
  margin-left: 2%;
  /* position: fixed;
  z-index: 2; */
  /* position: fixed;
  right: 4%;
  top: 1%; */
}