
<div class="home-container">
  <a href="https://github.com/99darshan/countries101" target="_blank">
    <mat-icon class="fa fa-4x fa-github-square github animated rotateIn"></mat-icon>
  </a>
</div>

<div class="flex-container-center">
  <mat-form-field class="mx-auto w-50 mt-3">
    <input matInput type="text" placeholder="search country name..." value={{searchTerm}} (input)="onSearchInputChange($event)"/>
  </mat-form-field>
  <button mat-raised-button color= "accent" (click)="onSearchButtonClick($event)" class="mx-auto w-50 my-1 search-button">Search</button>
  <!-- <p>I typed {{searchTerm}}!!</p> -->
</div>
  
  <!-- If more than one result is found for the given search term render countries list component -->
  <div *ngIf="searchedCountry.length > 1">
    <app-countries-list [countries] = "searchedCountry"></app-countries-list>
  </div>
