.home-container{
  background-image: url('/assets/120.jpg');
  width: 100vw;
  height: 70vh;
  /* background-size: contain; */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */

}

.flex-container-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search-button {
  height: 4rem;
  font-size: 2rem;
  background-color: var(--cp1-dark-red);
  font-family: 'Bree Serif', serif;
}